@import url(./fonts.css);
@import url(./partials/_variables.css);

*{
    scroll-behavior: smooth;
}
   


.head .main-menu .navbar .navbar-brand{
    padding: 0.2rem 0.5rem;
}

.head .main-menu .navbar{
    padding: 1rem 10rem;
}

.head .main-menu .nav-item .nav-link{
    
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
    line-height: 2px;
    font-size: 15px;
}

.head .main-menu .navbar-nav .active a{
    color: rgb(74, 9, 148);
} 
.head .main-menu .navbar-nav a:hover{
    color: rgb(74, 9, 148);
}

.site-main .site-banner{
    background: url(../img/banner/home-banner1.png) no-repeat;
    background-position: 0% 50%;
}
.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: "";
    height: 4px;
    width: 18vw;
    background: rgb(14, 3, 117);
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.site-main .site-banner .banner-image>img{
    padding: 7rem 0;
    width: 90rem;
}

.title-text{
    font: normal bold 50px/72px 'Roboto', sans-serif;
}



.btn-primary{
    background-image: linear-gradient(90deg, #4458dc 0%,#854fee 100%);
    text-transform: uppercase;

}
.btn-primary:hover{
    background: white;
    color: black;
    font-weight: normal;

}
.btn-primary::after{
    background: var(--gradient-color);
}
.btn-outline-primary:hover{
    background-image: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    text-transform: uppercase;
}
.btn-outline-primary::after{
    background: var(--gradient-color);
    text-transform: uppercase;
}


.site-main .about-area{
    padding: 6rem 5rem;
}

.site-main .about-area .about-title h2>span{
    display: block;
    text-transform: uppercase;
    letter-spacing: 21px;
    font-weight: bold;
}

.site-main .about-area .about-title .paragraph>p{
    padding: 0.6rem 0;
}
p .para{
    color: var(--text-colot);
    
}


.site-main .skill-area{
    padding: 1rem 12rem;
    margin-bottom: 4rem;
}

.site-main .skill-area .upper-row .col-md-4{
    display: flex;
    justify-content: center;
}

.site-main .skill-area .upper-row .col-md-4>.single-skill{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0.4rem;
    margin: 0.9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.site-main .skill-area .upper-row .col-md-4>.single-skill>img{
    width: 50%;
}
.site-main .skill-area .upper-row .col-md-4>.single-skill:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .skill-area .upper-row .col-md-4>.single-skill>img:hover{
    filter: brightness(0.15);
}

.site-main .skill-area .skill-info{
    padding-left: 1rem;
    z-index: 5;
}

.site-main .skill-area .skill-info span{
    display: block;
}

.site-main .skill-area .skill-info .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
    
}



.site-main .skill-area .skill-info .years-area .years{
    font-weight: bold;
    font-size: 84px;
    line-height: 40px;
    color: var(--primary-color2);
    z-index: 2;
}
.site-main .skill-area .skill-info .years-area h2>span{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}
.site-main .skill-area .skill-info .call-area{
    padding-left: 12rem;
}
.skill-img img{
    padding: 0.2rem 0;
    width: 40rem;
}


.site-main .services{
    /* padding: 1rem 2rem;
    padding-top: 20px; */
    padding-top: -50px;
}
.site-main .services .services-title{
    padding: 0.14rem;
}
.site-main .services .services-title h1{
    font-size: 35px;
    font-weight: bolder;
}

.site-main> .services .service{
    background: rgba(248,252,253,0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem 0.5rem;
    transition: box-shadow 0.5s ease;
}
.site-main> .services .service:hover{
    box-shadow: var(--box-shadow);
}




.site-main .projects{
    padding: 4rem 0;

}
.site-main .projects .btn-grp button{
    background: transparent;
    border: none;
    font: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130px;
}
.site-main .projects .btn-grp button+button{
    padding-left: 3rem;
}

.site-main .projects .grid .project>.title h4{
    font: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 12px;
}

button:focus, button:active, button:hover ,.btn:active, .btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}
.projects .project .img a img{
    margin: 2px;
}
.projects .project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
    
}
/* ul{
    display: flex;
    flex-direction: column;
} */
ul li{
    list-style-type: none;
    float: left;
    
    
}
 .pill{
    background-color: #7a7a7a;
    margin-right: 15px;
    width: auto;
    padding: auto;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    height: 2rem;
    line-height: 30px;
    border-radius: 15px ;
}
.pill1{
    margin-left: 0;
}
.web-des{
    box-shadow: 2px 4px 12px rgb(167, 164, 164);
    padding-bottom: 4px;
    padding-top: 4px;
}
.web-title h3{
    font-size: 20px;
}
.web-about{
    font-size: 15px;
}
.buttons{
    float: left;
    margin-left: 40px;
    color: white;
}
.logo{
    height: 30px;
    width: 30px;
    margin-right: 7px;
}
.icon{
    height: 22px;
    width: 20px;
    margin-right: 5px ;
}
.over-flow{
height: 650px;
overflow: scroll;
width: auto;
}
.sub{
    margin-bottom: 50px;
}
.webb-title{
    margin-bottom: 20px;
}
.webb-title h1 .webb-title-font {
    font: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 12px;
}


.site-main .certificates{
    /* padding: 0rem 0; */
    padding-top: -15px;
    

}
.site-main .certificates .btn-cert-grp button{
    background: transparent;
    border: none;
    font: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130px;
}
.site-main .certificates .btn-cert-grp button+button{
    padding-left: 1rem;
}

.site-main .certificates .grid .project>.title h4{
    font: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 12px;
}

button:focus, button:active, button:hover ,.btn:active, .btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}
.certificates .project .img a img{
    margin: 2px;
}
.certificates .project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
    
}
.skill-title h1 .skill-title-font{
    font: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 12px;
    
}
.backtop{
   
    box-sizing: border-box;
    position: fixed;
    top: 90%;
    
     left: calc(97% - 40px); 
    transition: 0.3s;
    cursor: pointer;
    z-index: 5;

}